.aid-replace {
  font-size: 0;
  line-height: 0;
  text-shadow: none;
  color: transparent;
}

.aid-tab:not(:focus),
.aid-hide {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
