* { box-sizing: border-box }
:focus { outline: 3px dotted indigo }
:link, :visited { color: indigo }
:link:hover { text-decoration: underline }

::selection { background: springgreen; color: black }
.invert { background: black; color: silver }
html { background: silver; color: black }

html { font: 1.125em/2 sans-serif }
@media (max-width: 20rem) {
  html { font-size: 1em }
  h1 { font-size: 1.25em }
}

figure { margin-left: 0; margin-right: 0 }
body { margin: 1rem auto; padding: 1rem }

.line-compact { line-height: 1.25 }
.inline-block { display: inline-block }
.block { display: block }
.natural { display: table }
.no-select { user-select: none }
.flow-compact { margin-top: 0; margin-bottom: .5rem }
.flow { margin-top: 0; margin-bottom: 1.5rem }
.family { font-family: inherit }
.bold { font-weight: bold }
.pad { padding: 1rem }

.highlight {
  text-decoration: none;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

.bg-black {
  background: black;
  background-size: cover;
}

.bg-white {
  background: gainsboro;
  background-size: cover;
}
